*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #A03E99;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba( 0,0,0.1);
    font-size: 8vmin;
    color: #FB5012;
    background-color:#fdf0d5;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    color:#fff;
    background-color: #080808;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: .5rem;
    font-size: 1.25rem;
    background-color: cyan;
    color: #080808;
    border-radius: 1rem;
    border: none;
}
#msg{
  color: #eeba0b;
  font-size: 8vmin; 
}
.msg-container{
    height: 20vmin;
}
.hide{
    display: none;
}